<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>Hi, I am <%= user.firstName %>, I'm <%= user.age%></h1>
    <button onclick="image()">Download</button>
  </body>
  <script>
    function image() {
      window.location = '/image'
    }
    </script>
</html>