<!DOCTYPE html>
<html lang="en">
  <form method="post" action="/login">
    <div>
        <label for="name">
            <input type="text" name="name" id="name" placeholder="Your name..">
        </label>
    </div>
    <button type="submit">Submit your form</button>
  </form>
</html>