body {
    background: lightgray;
    color: #232323;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
  }
  
  code {
    color: #09507c;
    background: #deedf2;
    padding: 2px 10px;
    border-radius: 10px;
  }
  
  a {
    color: #0079c0;
  }
  a:hover {
    color: #009cdb;
  }

  img {
    width: 16px;
    height: 16px;
  }

  button {
    background-color: transparent;
    border: 0px;
    float: right;
  }
  
#postForm {
    margin-bottom: 20px;
}

.form {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.form-control {
    resize: vertical;
}

/* Apply alternating background colors and underlines to each post */
#postList li:nth-child(even) {
  background-color: lightgrey; 
}
#postList li:nth-child(odd) {
  background-color: white; 
}

#postList li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding: 0; 
}

